<!doctype html>
<html>
  <head>
    <title>TestDrive</title>
    <meta charset='utf-8'></meta>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/angular-ui.min.css"></link>
    <link rel="stylesheet" href="/css/codemirror.css"></link>
    <link rel="stylesheet" href="/css/monokai.css"></link>
    <link rel="stylesheet" href="/css/app.css"></link>
    
  </head>
  <body ng-app="app">
    <header class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <h1>TestDrive</h1>
        </div>
      </div>
    </header>
    <section class="container" ng-controller="MainCtrl">
      <section class="row">
        <section class="span6">
          <textarea id="test" ui-codemirror="{theme:'monokai'}" ng-model="test"></textarea>
        </section>
        <section class="span6">
          <textarea id="code" ui-codemirror="{theme:'monokai'}" ng-model="code"></textarea>
        </section>
        <section class="row" style="margin-top: 25px;">
          <button class="btn" ng-click="run()">Run Test</button>
        </section>
      </section>
      <section class="row" ng-controller="PreviewCtrl">
        <iframe id="preview" my-iframe="preview" style="margin-top: 25px;"></iframe>
      </section>
    </section>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/codemirror.js"></script>
    <script src="/js/javascript.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
